{% extends "trivia/base.html" %}

{% block content %}

    <div>
        <button value="Refresh Page" onClick="window.location.reload();"> New Trivia </button>
    </div>

    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">Question: {{ question }}</a>
        </div>
        <p class="article-content">Answer: {{ answer }}</p>
      </div>
    </article>



        <div class="card" style="width: 18rem;">
            <img src="https://github.com/kevin-chen/trivia-web-app/raw/master/trivia/templates/trivia/assets/co.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>


{% endblock content %}