{% extends "trivia/base.html" %}

{% block content %}

    <!-- Success Notification -->
    <div>
        {% if success %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong> Found Category
            </div>
        {% endif %}
    </div>

    <!-- Searching-->
    <div class="container text-center">
        Search for a Trivia:
        <form action="/search" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>

    <!-- List of Categories -->
    <ul>
        {% for category in categories %}
            <li>{{category.title}}</li>
        {% endfor %}
    </ul>

{% endblock content %}