{% extends "trivia/base.html" %}

{% block content %}

    <div class="container text-center">

         <!-- Searching-->
        <h5 class="display-4">Search for a Trivia:</h5>
        <form action="/search/" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-primary" type="submit">Submit</button>
        </form>

        <br>

        Sample Categories:

        <!-- List of Categories -->
         <ul>
            {% for category in categories %}
                <form action="/random" method="post">
                    <a href="/category/{{category.id}}">{{category.title}}</a>
                </form>
            {% endfor %}
        </ul>

    </div>

{% endblock content %}